<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="94d491">  <td>18/05/24 17:14:12</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.LaunchApp()[pri:0, instance:com.BookATableIOS.SplachScreen@64bf3bbf]">&gt;&gt;LaunchApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@522764626</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>18/05/24 17:14:58</td>   <td>46418</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SplachScreen.splachScreen()[pri:0, instance:com.BookATableIOS.SplachScreen@64bf3bbf]">splachScreen</td> 
  <td>main@522764626</td>   <td></td> </tr>
</table>
